* {
    box-sizing: border-box;
}

body {
    background-color: darkolivegreen;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 5px solid rgb(90, 1, 1);
    margin: 50px auto;
}